.cardContainer {
  border: 2px solid #74777F;
  border-radius: 12px;
  background-color: #F9F9FF;
  margin: 20px;
  padding: 15px;
}

.ratio {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.proportion {
  margin-right: 10px;
  font-size: 30pt;
  font-weight: 700;
}

.cardTitle {
  font-size: 24px;
  font-weight: 700;
}

.ps {
  padding: 8px 0px;
}

.pm {
  padding: 16px 0px;
}

.pl {
  padding: 24px 0px;
}

.gap {
  display: flex;
  gap: 8px;
}

.redArrow {
  color: #DA2E2E;
  font-weight: 900;
}

.blueArrow {
  color: #425E91;
  font-weight: 900;
}

.compare {
  font-size: 18px;
  font-weight: 500;
}