.root {
  width: 300px;
  padding: 60px 42px;
  border-right: 1px solid #e9ecef;
}

.filterContainer {
  margin-bottom: 30px;
  background-color: #ffffff;
  padding: 24px 24px;
  border-radius: 12px;
  border: 0.5px solid #e9ecef;
}

.categoryTitle {
  margin-bottom: 10px;
}

.ratingInput {
  accent-color: #425e91;
}

.ratingLabel {
  font-weight: 500;
}

.ratingLabel:hover {
  cursor: pointer;
}

.checkboxItem {
  margin-bottom: 8px;
  padding: 2px;
  font-weight: 500;
  gap: 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.red {
  background-color: #c24b4bb5;
}

.red:hover {
  background-color: #c24b4b;
  cursor: pointer;
}

.blue {
  background-color: #425e91b5;
}

.blue:hover {
  background-color: #425e91;
  cursor: pointer;
}

.lightblue {
  background-color: #b3c7e2b5;
}

.lightblue:hover {
  background-color: #b3c7e2;
  cursor: pointer;
}

.brown {
  background-color: #E1DACA;
}

.brown:hover {
  background-color: #E1DACA;
  cursor: pointer;
}

.lightgreen {
  background-color: #90ee90b5;
}

.lightgreen:hover {
  background-color: #90ee90;
  cursor: pointer;
}

.orange {
  background-color: #ff8c00b5;
}

.orange:hover {
  background-color: #ff8c00;
  cursor: pointer;
}

.lightred {
  background-color: #ff6347b5;
}

.lightred:hover {
  background-color: #ff6347;
  cursor: pointer;
}

.lightpurple {
  background-color: #9370dbb5;
}

.lightpurple:hover {
  background-color: #9370db;
  cursor: pointer;
}

.categoryInput {
  accent-color: #425e91;
}

.categoryInput:hover {
  cursor: pointer;
}

.categoryText {}

.categoryText:hover {
  cursor: pointer;
}

.yearInput {
  width: 90px;
}

.yearButton {
  margin-left: 10px;
  background-color: #425e91;
  border: 0px;
  border-radius: 6px;
  padding: 4px;
  color: #ffffff;
}

.yearSelect {
  width: 4.8vw;
  min-width: 40px;
  height: 1.6vw;
  font-size: 16px;
}